.formContainer {
  border-radius: 25px 25px 0 0;
  width: 375px;
  background-color: var(--light-green);
  padding: 32px 16px 57px 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.07;
  letter-spacing: -0.0375rem;
}

.text {
  font-weight: 400;
  color: var(--light-black);
}

.inputsBlock {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 16px;
}

.inputWrapper {
  position: relative;
}

.logInputBlocks {
  margin-top: 40px;
}

.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  padding: 16px 18px;
  width: 343px;
  height: 56px;
  background-color: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  transition: border 0.3s ease;
}

.input:focus {
  outline: none;
  border: 1px solid var(--green);
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.inputError {
  border-color: #e90516;
  outline: none;
}

.inputSuccess {
  border-color: #30b94d;
  outline: none;
}

.errorMessage,
.successMessage {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.2;
}

.errorMessage {
  color: #e90516;
}

.successMessage {
  color: #30b94d;
}

.errorIcon,
.successIcon {
  width: 16px;
  height: 16px;
}

.inputPwd {
  position: relative;
  width: 100%;
  height: 56px;
}

.togglePwdBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  z-index: 2;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--black);
  fill: none;
}

.submitBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.formBtn {
  border-radius: 30px;
  padding: 16px 16px;
  width: 343px;
  height: 56px;
  background-color: var(--green);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}

.navigation {
  font-weight: 700;
  color: rgba(18, 20, 23, 0.5);
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .formContainer {
    border-radius: 30px;
    width: 627px;
    padding: 48px 64px;
  }

  .title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.05rem;
  }

  .text {
    font-size: 20px;
    line-height: 1.5;
  }

  .inputsBlock {
    gap: 18px;
    margin-top: 32px;
  }

  .logInputBlocks {
    margin-top: 32px;
  }

  .input {
    width: 500px;
  }

  .inputPwd {
    height: 56px;
  }

  .submitBlock {
    margin-top: 14px;
  }

  .formBtn {
    width: 500px;
    height: 60px;

    font-size: 18px;
    line-height: 1.56;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
}
