.catWithVerb {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.categoriesContainer {
  position: relative;
}

.categoriesBtn {
  border: 1px solid rgba(252, 252, 252, 0.3);
  border-radius: 15px;
  padding: 12px 24px;
  width: 311px;
  height: 48px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  text-transform: capitalize;
}

.categoriesBtn:focus {
  border: 1px solid var(--white);
}

.iconUp,
.iconDown {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 24px;
  top: 18px;
  transition: transform 0.3s ease;
}

.iconUp {
  transform: rotate(0.5turn);
}

.categoriesList {
  position: absolute;
  top: 50px;
  border-radius: 15px;
  padding: 12px 107px 12px 24px;
  width: 311px;
  height: 240px;
  box-shadow: 0 4px 47px 0 rgba(18, 20, 23, 0.08);
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(18, 20, 23, 0.5);
  text-transform: capitalize;
  z-index: 1000;

  overflow-y: auto;
}

.categoryItem {
  cursor: pointer;
  transition: color 0.2s;
}

.categoryItem:hover,
.categoryItem:active {
  color: var(--green);
}

.verbsContainer {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputRadio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.labelRadio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--white);
}

.radioIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.off {
  fill: none;
  stroke: rgba(18, 20, 23, 0.2);
}

.formsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.langText {
  font-size: 14px;
  color: var(--white);
}

.iconFlag {
  width: 28px;
  height: 28px;
}

.input {
  border: 1px solid rgba(252, 252, 252, 0.3);
  border-radius: 15px;
  padding: 12px 24px;
  width: 311px;
  height: 48px;
  background-color: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  transition: border 0.3s ease;
}

.input:focus {
  outline: none;
  border: 1px solid var(--white);
}

.error {
  color: rgb(135, 52, 49);
}

.actionBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.saveBtn {
  border-radius: 30px;
  padding: 12px 63px;
  width: 159px;
  height: 48px;
  background: var(--white);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  transition: transform 0.3s ease-in-out;
}

.cancelBtn {
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  padding: 12px 45px;
  width: 145px;
  height: 48px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  transition: transform 0.3s ease-in-out;
}

.saveBtn:hover,
.cancelBtn:hover {
  transform: scale(1.05);
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .categoriesBtn {
    width: 204px;
  }

  .categoriesList {
    width: 204px;
  }

  .verbsContainer {
    width: 200px;
  }

  .labelRadio {
    font-size: 16px;
  }

  .formsContainer {
    gap: 18px;
  }

  .formLabel {
    flex-direction: row-reverse;
    gap: 32px;
  }

  .langText {
    font-size: 16px;
  }

  .inputInfo {
    width: 114px;
  }

  .iconFlag {
    width: 32px;
    height: 32px;
  }

  .input {
    padding: 16px 18px;
    width: 354px;
    height: 56px;
  }

  .actionBtns {
    gap: 10px;
  }

  .saveBtn {
    padding: 14px 104px;
    width: 245px;
    height: 56px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
  }

  .cancelBtn {
    padding: 14px 92px;
    width: 245px;
    height: 56px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white);
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
}
