.editContainer {
  position: relative;
  width: 342px;
  padding: 48px 16px;
}

.formContainer {
  width: 311px;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: transform 0.3s ease-in-out;
}

.iconClose {
  width: 24px;
  height: 24px;
}

.closeBtn:hover {
  transform: scale(1.06);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.iconFlag {
  width: 28px;
  height: 28px;
}

.flagText {
  font-size: 14px;
  color: var(--white);
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  border: 1px solid rgba(252, 252, 252, 0.3);
  border-radius: 15px;
  padding: 12px 24px;
  width: 311px;
  height: 48px;
  background-color: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  transition: border 0.3s ease-in-out;
}

.input:focus {
  outline: none;
  border: 1px solid var(--white);
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.0075rem;
  color: #d80027;
  text-align: center;
}

.actionsBtns {
  width: 311px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saveBtn {
  border-radius: 30px;
  padding: 12px 60px;
  width: 158px;
  height: 48px;
  background-color: var(--white);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  transition: transform 0.3s ease-in-out;
}

.cancelBtn {
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  padding: 12px 45px;
  width: 145px;
  height: 48px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  transition: transform 0.3s ease-in-out;
}

.saveBtn:hover,
.cancelBtn:hover {
  transform: scale(1.05);
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .editContainer {
    width: 627px;
    padding: 64px;
  }

  .closeBtn {
    top: 20px;
    right: 20px;
  }

  .iconClose {
    width: 32px;
    height: 32px;
  }

  .formContainer {
    width: 500px;
  }

  .formLabel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 32px;
  }

  .language {
    width: 114px;
  }

  .iconFlag {
    width: 32px;
    height: 32px;
  }

  .flagText {
    font-size: 16px;
  }

  .input {
    border: 1px solid rgba(252, 252, 252, 0.3);
    padding: 16px 18px;
    width: 354px;
    height: 56px;
  }

  .actionsBtns {
    width: 500px;
  }

  .saveBtn {
    padding: 14px 101px;
    width: 245px;
    height: 56px;

    font-size: 18px;
  }

  .cancelBtn {
    padding: 14px 92px;
    width: 245px;
    height: 56px;
    font-size: 18px;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
}
