.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 20, 23, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

.content {
  border-radius: 15px;
  background-color: var(--green);

  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.backdrop.show .content {
  transform: translateY(0);
  opacity: 1;
}
