.headerContainer {
  max-width: 100%;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
}

.text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.userLayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.burgerBtn {
  display: flex;
  align-items: center;
}

.burger {
  width: 32px;
  height: 22px;
  stroke: var(--black);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.backdrop.isOpen {
  opacity: 1;
  pointer-events: auto;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .headerContainer {
    max-width: 100%;
    padding: 20px 32px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .text {
    font-size: 22px;
    line-height: 1.45;
  }

  .userLayout {
    gap: 28px;
  }

  .burger {
    width: 40px;
    height: 28px;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .headerContainer {
    padding: 20px 100px;
  }

  .burgerBtn {
    display: none;
  }
}
