.form {
  width: 343px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputBlock {
  position: relative;
}

.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  padding: 12px 24px;
  width: 343px;
  height: 48px;
  background-color: transparent;
  margin-bottom: 8px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  transition: border 0.3s ease;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.input:focus {
  outline: none;
  border: 1px solid var(--green);
}

.iconSearch {
  position: absolute;
  top: 13px;
  right: 24px;
  width: 20px;
  height: 20px;
  fill: none;
  stroke: black;
}

.categoriesBtn {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  padding: 12px 24px;
  width: 343px;
  height: 48px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  text-transform: capitalize;
  transition: border 0.3s ease;
}

.categoriesBtn:focus {
  border: 1px solid var(--green);
}

.iconUp,
.iconDown {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 24px;
  top: 18px;
  transition: transform 0.3s ease;
}

.iconUp {
  transform: rotate(0.5turn);
}

.filter {
  position: relative;
}

.categoriesList {
  position: absolute;
  width: 343px;
  height: 368px;
  top: 53px;
  border-radius: 15px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 47px 0 rgba(18, 20, 23, 0.08);
  z-index: 10;
  list-style: none;
  gap: 8px;
  text-transform: capitalize;
}

.categoryItem {
  cursor: pointer;
  transition: color 0.2s;
}

.categoryItem:hover,
.categoryItem:active {
  color: var(--green);
}

.verbsContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.inputRadio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.labelRadio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--black);
}

.radioIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.off {
  fill: none;
  stroke: rgba(18, 20, 23, 0.2);
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .form {
    width: 704px;
    display: flex;
    flex-direction: row;
  }

  .input {
    width: 274px;
    height: 48px;
  }

  .categoriesBtn {
    width: 254px;
    height: 48px;
  }

  .categoriesList {
    width: 254px;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
}
