.dashboardContainer {
  width: 375px;
  padding: 32px 16px 48px 16px;
  margin-left: auto;
  margin-right: auto;
}

.iconArrow {
  fill: none;
  stroke: var(--green);
  width: 18px;
  height: 18px;
}

.iconPlus {
  width: 20px;
  height: 20px;
}
