.navContainer {
  display: none;
}

.navModal {
  display: flex;
}

.listModal {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.listModal .link {
  font-size: 14px;
  color: var(--white);
}

.listModal .isActive {
  border-radius: 15px;
  padding: 12px 20px;
  width: 125px;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .navContainer {
    display: flex;
  }

  .navList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
  }

  .link {
    font-size: 14px;
    color: var(--black);
    padding: 12px 0px;
  }

  .isActive {
    border-radius: 15px;
    padding: 12px 20px;
    background-color: var(--green);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
    text-align: center;
  }
}
