@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /*fonts*/
  --font-family: "Open Sans", sans-serif;

  /*colors*/
  --black: #121417;
  --light-black: rgba(18, 20, 23, 0.8);
  --green: #85aa9f;
  --light-green: rgba(133, 170, 159, 0.1);
  --white: #fcfcfc;
  --white-1: #f8f8f8;
}

html {
  height: 100%;
}
body {
  background-color: var(--white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  color: var(--black);
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
