@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /*fonts*/
  --font-family: "Open Sans", sans-serif;

  /*colors*/
  --black: #121417;
  --green: #85aa9f;
  --white: #fcfcfc;
  --white-1: #f8f8f8;
}

body {
  background-color: var(--white);
  font-family: var(--font-family);
  color: var(--black);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
