.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.user {
  border-radius: 30px;
  background-color: var(--green);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: capitalize;
}

.nameModal {
  color: var(--white);
  text-transform: capitalize;
}

.userModal {
  background-color: var(--white);
}

.iconUser {
  width: 13.33px;
  height: 13.33px;
}

.iconUserModal {
  width: 20px;
  height: 20px;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .userContainer {
    gap: 16px;
  }

  .name {
    font-size: 20px;
  }

  .user {
    width: 48px;
    height: 48px;
  }

  .iconUser {
    width: 16px;
    height: 16px;
  }

  .iconUserModal {
    width: 24px;
    height: 24px;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
}
